body{
    background-image: url('../assets/fondo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

main{
    width: 100%;
    max-width: 600px;
    display: flex;
    opacity: 89%;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#iniciar, #register-title{
    align-self: center;
}

#register{
    text-decoration: none;
}

h2, label{
    color: rgb(0, 0, 0) !important;
}

.btn-primary{
    background-color: rgb(80, 182, 98) !important;
    border: none !important;    
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
    background-color: rgb(35, 157, 57) !important;
    transform: scale(1.03);
}

@media (min-width: 576px) {
    main {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}