<!-- partials/sidebar.html -->
<aside id="sidebar" class="shadow-sm">
    <div class="brand d-flex align-items-center mb-4">
        <img src="assets/logo.png" alt="logo" class="brand-logo rounded-15 me-2">
        <div>
            <div class="h6 mb-0">Mi Empresa</div>
            <small class="text-muted">Panel</small>
        </div>
    </div>

    <nav class="nav flex-column">
        <a href="dashboard.html" class="nav-link side-card rounded-15" data-page="dashboard">
            <i class="bi bi-speedometer2 me-3 fs-5"></i>
            <div>
                <div class="fw-semibold">Dashboard</div>
                <small class="text-muted">Resumen</small>
            </div>
        </a>

        <a href="ventas.html" class="nav-link side-card rounded-15" data-page="ventas">
            <i class="bi bi-phone me-3 fs-5"></i>
            <div>
                <div class="fw-semibold">Ventas</div>
                <small class="text-muted">Gestiona ventas</small>
            </div>
        </a>

        <a href="reparaciones.html" class="nav-link side-card rounded-15" data-page="reparaciones">
            <i class="bi bi-boxes me-3 fs-5"></i>
            <div>
                <div class="fw-semibold">Inventario</div>
                <small class="text-muted">Gestiona inventario</small>
            </div>
        </a>

        <a href="reportes.html" class="nav-link side-card rounded-15" data-page="reportes">
            <i class="bi bi-graph-up me-3 fs-5"></i>
            <div>
                <div class="fw-semibold">Reportes</div>
                <small class="text-muted">Reporte de gastos</small>
            </div>
        </a>

        <a href="usuarios.html" class="nav-link side-card rounded-15" data-page="usuarios">
            <i class="bi bi-people me-3 fs-5"></i>
            <div>
                <div class="fw-semibold">Usuarios</div>
                <small class="text-muted">Gestion de usuarios</small>
            </div>
        </a>
    </nav>
</aside>